# Clase 6

**Contenido**
- Preguntas ejercicios anteriores
- Nueva metodológia de temas de estudio
- Instalar Python y VSCode (No los vamos a usar todavía)
- Funciones (Repaso) y Métodos
  - Funciones con argumentos posicionales indefinidos
- Ejercicio 69 (Normal y Con funciones)
- Operaciones con operadores combinados (+=, -=, *=, /=)
- Archivos y Excepciones (Ejemplos)

Ejercicios de estudio, los primeros 10 del capitulo 7 del libro.


#### Temas de estudio
- ¿Qué es Git?
- Cuales son los principales comandos de Git
- ¿Qué es GitHub?
- ¿Qué es un repositorio?
- ¿Qué es un commit?

### Funciones (Repaso)
Las funciones son bloques de código que se pueden reutilizar en cualquier parte del programa.
Las funciones se definen con la palabra reservada `def` seguido del nombre de la función
y los parámetros o argumentos que recibe.

Temas a repasar:
- Argumentos posicionales (Positional, Required)
- Argumentos con valores por defecto (KeyWord, Default)
- Retorno de valores o resultados

In [7]:
def saludar_y_despedir(nombre):
  print(f"Buenas noches {nombre}")
  print(f"Chao {nombre}")

In [8]:
print("Hola Alejandro")
print("Hola Samuel")
print("Hola Juan")
print("Hola Santiago")
print("Hola Sebastian")

Hola Alejandro
Hola Samuel
Hola Juan
Hola Santiago
Hola Sebastian

In [9]:
saludar_y_despedir("Alejandro")
saludar_y_despedir("Samuel")
saludar_y_despedir("Juan")
saludar_y_despedir("Santiago")
saludar_y_despedir("Sebastian")

Buenas noches Alejandro
Chao Alejandro
Buenas noches Samuel
Chao Samuel
Buenas noches Juan
Chao Juan
Buenas noches Santiago
Chao Santiago
Buenas noches Sebastian
Chao Sebastian

In [15]:
def nombre_mes(numero_mes):
  meses = {
      1: "enero",
      2: "febrero",
      6: "junio",
      12: "diciembre",
  }
  print(meses.get(numero_mes, "Esta llave no existe"))
  # Get es una forma de conseguir la llave, sin error

In [18]:
nombre_mes(1)

enero

In [ ]:
# Get es metodo de los diccionarios
# Upper es un metodo de los strings
# Append es un metodo de las listas
# Insert es un metodo de las listas

In [21]:
print("hola mundo".upper()) # metodo upper
print(len([])) # funcion len

HOLA MUNDO
0

In [23]:
print("hola".upper()) # upper pone en mayuscula
print("HOLA".lower()) # lower pone en minuscula
print("Hola Mundo".split()) # Split es un metodo que separa string
# por los espacios
print("  Hola ".strip()) # Strip es un metodo que quita espacios

HOLA
hola
['Hola', 'Mundo']
Hola

In [ ]:
# Los metodos son funciones asociadas a los tipos de datos.

In [24]:
def mostrar_numeros(numero1, numero2):
  print(numero1)
  print(numero2)

In [26]:
mostrar_numeros(2, 1)

2
1

In [27]:
def restar_numeros(a, b):
  print(a - b)

In [31]:
restar_numeros(5, 10.0)

-5.0

In [ ]:
# Posicionales tambien se llaman non-default
# Keyword tambien se llaman default

In [43]:
def saludar_nombre_apellido(
    nombre="",
    apellido=""
):
  print(f"Hello nombre:{nombre} apellido:{apellido}")

In [44]:
saludar_nombre_apellido()

Hello nombre: apellido:

In [37]:
saludar_nombre_apellido(apellido="arbelaez", nombre="juan")

Hello juan arbelaez

In [69]:
def calculadora(a, b, operacion="suma"):
  if operacion == "suma":
    print(a + b)
  elif operacion == "resta":
    print(a - b)
  elif operacion == "multiplicacion":
    print(a * b)
  elif operacion == "division":
    print(a / b)
  else:
    print("ERROR operación no soportada")

In [70]:
calculadora(5, 10, operacion="division")

0.5

In [ ]:
# def gasto_actual(mes_actual=2/05/2024.month)
# gasto_actual(mes_actual=4)
# def gasto_actual()
#  mes_actual=2/05/2024.month

In [74]:
# argumentos nombrados
texto_a_separar = "Hola, mi nombre es Alejandro, y soy el, profesor"
print(texto_a_separar.split(sep=","))

['Hola', ' mi nombre es Alejandro', ' y soy el', ' profesor']

In [76]:
lista_1 = [1, 3, 2]
print(lista_1) # 1 (1, 3, 2) OK
print(sorted(lista_1)) # 2 (3, 2, 1) (1, 2, 3) OK
print(lista_1.sort()) # 3 (3, 2, 1) # Porque salio None
print(lista_1) # 4 (3, 2, 1) (1, 3, 2) # Porque salio 1,2,3

[1, 3, 2]
[1, 2, 3]
None
[1, 2, 3]

In [ ]:
# Las funciones que NO devuelven y modifican el valor original
# se llaman funciones INLINE

In [ ]:
def saludar(nombre):
  return f"hola {nombre}"

In [79]:
texto = list("abecedario")
texto.sort()
print(texto)

['a', 'a', 'b', 'c', 'd', 'e', 'e', 'i', 'o', 'r']

In [81]:
texto = list("abecedario")
sorted(texto)
print(texto)

['a', 'a', 'b', 'c', 'd', 'e', 'e', 'i', 'o', 'r']

In [82]:
"texto a guardar"
print(1)

1

In [83]:
lista_2 = [4, 5, 6]
lista_2.append(7)
print(lista_2)

[4, 5, 6, 7]

### Exercise 69: Admission Price  
A particular zoo determines the price of admission based on the age of the guest. Guests 2 years of age and less are admitted without charge. Children between 3 and 12 years of age cost \$14.00. Seniors aged 65 years and over cost \$18.00. Admission
for all other guests is $23.00.
Create a program that begins by reading the ages of all of the guests in a group
from the user, with one age entered on each line. The user will enter a blank line to indicate that there are no more guests in the group. Then your program should display the admission cost for the group with an appropriate message. The cost should be displayed using two decimal places.

In [98]:
# Que tenemos que utilizar
# input, diccionario, condicional, while
lista_edades = []
edad = input("Escribe la edad del primer invitado ")
while edad != " ":
  print(edad)
  lista_edades.append(int(edad))
  edad = input("Escribe la edad del siguiente invitado ")

# for i in range(len(lista_edades)): # Indices
precio = 0
for edad in lista_edades: # Elementos
  if edad <= 2:
    precio += 0.0 # precio = precio + 0
  elif edad >= 3 and edad <= 12:
    precio += 14.00
  elif edad >= 65:
    precio += 18.00
  else:
    precio += 23.00

print(
    f"El precio de admisión para los invitados es: {precio:.2f}"
)

Escribe la edad del primer invitado 4
4
Escribe la edad del siguiente invitado 20
20
Escribe la edad del siguiente invitado 70
70
Escribe la edad del siguiente invitado
El precio de admisión para los invitados es: 55.00

In [99]:
def leer_edades(caracter_de_terminacion=" "):
  lista_edades = []
  edad = input("Escribe la edad del primer invitado ")
  while edad != caracter_de_terminacion:
    lista_edades.append(int(edad))
    edad = input("Escribe la edad del siguiente invitado ")
  return lista_edades

def calcular_precio(lista_a_calcular):
  precio = 0
  for edad in lista_a_calcular:
    if edad <= 2:
      precio += 0.0
    elif edad >= 3 and edad <= 12:
      precio += 14.00
    elif edad >= 65:
      precio += 18.00
    else:
      precio += 23.00
  return precio

def formatear_salida(lista, valor):
  print(
      f"La lista es {lista}"
  )
  print(
    f"El precio de admisión para los invitados es: {valor:.2f}"
  )

In [100]:
def main():
  lista_edades = leer_edades()
  precio = calcular_precio(lista_edades)
  formatear_salida(lista_edades, precio)

In [101]:
main()

Escribe la edad del primer invitado 4
Escribe la edad del siguiente invitado 20
Escribe la edad del siguiente invitado 70
Escribe la edad del siguiente invitado
La lista es [4, 20, 70]
El precio de admisión para los invitados es: 55.00

In [103]:
# Funciones con argumentos indefinidos
print(1, 2, 3 ,4 , "hola mundo", "5", [], {}, "1",2, 3, 4)

1 2 3 4 hola mundo 5 [] {} 1 2 3 4

In [111]:
def mostrar_lista(*lista):
  # Starred expressions
  lista_de_numeros = list(lista)
  for elemento in lista_de_numeros:
    print(elemento)

mostrar_lista(1, 2, 3, 4, 100, 1000, 10000)
## Expresiones indefinidas
# *args -> nombre
# normalmente en los ejemplos, se encuentra como
# def function1(*args):
#  args
# Tema de estudio: **kwargs

1
2
3
4
100
1000
10000

In [107]:
print(range(1, 6))
print(list(range(1, 6)))

range(1, 6)
[1, 2, 3, 4, 5]

In [116]:
f = open(
    "/content/sample_data/california_housing_test.csv",
    mode="r"
)
lineas_del_archivo = f.readlines()
# Si estuviera en modo w
# f.writelines(linea)
# f.write(TODO ESTE TEXTO SE ESCRIBE)
f.close()
print(f.closed)

for i in range(6):
  print(lineas_del_archivo[i])
# modos de apertura
# r, w, a
# read
# write
# append
# CSV es comma separated values
# TXT es tab separated values (TSV)

True
"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"

-122.050000,37.370000,27.000000,3885.000000,661.000000,1537.000000,606.000000,6.608500,344700.000000

-118.300000,34.260000,43.000000,1510.000000,310.000000,809.000000,277.000000,3.599000,176500.000000

-117.810000,33.780000,27.000000,3589.000000,507.000000,1484.000000,495.000000,5.793400,270500.000000

-118.360000,33.820000,28.000000,67.000000,15.000000,49.000000,11.000000,6.135900,330000.000000

-119.670000,36.330000,19.000000,1241.000000,244.000000,850.000000,237.000000,2.937500,81700.000000

In [118]:
f = open(
    "datos.txt",
    mode="r"
)
lineas_del_archivo = f.readlines()
f.close()
print(f.closed)

for i in range(1):
  print(lineas_del_archivo[i])

True
15,81,13,20,30