# Clase 1
- I/O: Entrada y Salida Básica
- Tipos de Datos:
- int
- float
- String
    - 'Simple'
    - "Doble"
    - """Triple"""
- bool
- Variables
- Tipado dinámico
- Comentarios
- Aritmética y Operadores
- Contenedores:
    - Lista
    - Tupla
    - Diccionarios
    - Conjuntos
- Valores de Verdad y Comparaciones
- Palabras reservadas

Fecha: 16/04/2024  
Autor: Alejandro Henao  
Propósito: Para aprender

Hoy vamos a ver unos temas, entre esos variables, operaciones, tipos de datos y cuadernos con google colab.

Lo primero que vamos a ver es la "funcion" print que me permite ver valores.

In [62]:
print("Hola Mundo")

Hola Mundo

In [63]:
# Descomente estas lineas porque me estaba saliendo un error
# Si quieres que te salga el error
# Descomentalas (Es decir, quita el # del inicio)
# pirnt("Hola Mundo")
# Print("")

In [64]:
print("Hola 2")  # Esta linea de codigo muestra Hola 2, en la parte de abajo de la celda

Hola 2

In [65]:
input("Escoge un numero")

Escoge un numero5

'5'

In [66]:
# a no ha sido definido, si no comento la linea, sale un error
# print(a*2)

10

Variable = Es una caja o contenedor que me permite guardar valores.

In [67]:
a = 5
b = 5
variable1 = 5
variable3 = 15
temperatura = 23.1
nombre = "Alejandro"
x, y = 10, 10
puerta_abierta = True

"" Si esta entre comillas es string (Lista de caracteres)

In [68]:
print("a")

a

In [69]:
print(a)

5

In [70]:
print(variable1)

5

In [71]:
print(nombre)

Alejandro

In [72]:
print("nombre")

nombre

int -> integer (entero).
str -> string (lista de caracteres)
float -> float (flotante)

In [73]:
print(type(a))
print(type(variable1))
print(type(nombre))

<class 'int'>
<class 'int'>
<class 'str'>

In [74]:
print(type(temperatura))

<class 'float'>

In [75]:
print(variable1)
print(temperatura)

5
23.1

In [76]:
print(variable3)

15

In [77]:
print(type(variable1))
print(type(temperatura))

<class 'int'>
<class 'float'>

In [78]:
variable5=25

In [79]:
a=5
print(a)
a="5"
print(a)
a=25
print(a)

5
5
25

In [80]:
a=5
print(a)
a="5"
print(a)
a=25
print(a)

5
5
25

In [81]:
print(a)

25

In [82]:
a=10

In [83]:
edad_mia=26
reporte_gerencial = "Para mi gerente, especialmente, tuvimos unas ganancias de ...."
temperatura_16_04=32
mes_actual=4
gasto_actual=30000000

In [84]:
print(3)

3

In [85]:
gasto_actual = 3
print(gasto_actual)

3

In [86]:
mes_actual=4 # Aqui estoy poniendo el mes actual (en numero)
gasto_actual = 3 # Aqui estoy declarando mi gasto actual
print(gasto_actual) # Esta linea me muestra cuanto me gaste

3

In [87]:
noticias, columnas, autores = 5,1,"rafael, miguel"

noticias = 5
columnas = 1
autores = "rafael, miguel"

In [88]:
numero_1=1
texto_1 = "texto"
flotante_1 = 23.1
texto_8 = "texto"
# Las variables booleanas son mas raras
# Solo pueden tener verdadero o falso
booleano_1 = True
booleano_2 = False

In [89]:
booleano_3 = True

In [90]:
print(booleano_3)

True

In [91]:
print(booleano_2)

False

In [96]:
#print(booleano_8)

In [ ]:
# type me permite ver el tipo de dato
# tipo de dato: que cosa hay dentro de la caja
# caja: variable

In [101]:
mes_actual = 4
tipo_mes_actual = type(mes_actual)
print(tipo_mes_actual)

<class 'int'>

In [105]:
entero_que_voy_a_sumar_despues = 5
# tipo_del_entero = typeentero_que_voy_a_sumar_despues
tipo_del_entero = type(entero_que_voy_a_sumar_despues)

NameError: name 'typeentero_que_voy_a_sumar_despues' is not defined

In [110]:
variable_dinamica = 5

En la proxima celda vemos tipado dinamico, es decir, la misma variable puede tener diferentes tipos. (O sea que hay dentro de la caja)

In [109]:
variable_dinamica = 102099999
print(variable_dinamica)
print(type(variable_dinamica))
variable_dinamica = 1.78
print(variable_dinamica)
print(type(variable_dinamica))
variable_dinamica = "documento sobre la ceguera"
print(variable_dinamica)
print(type(variable_dinamica))

102099999
<class 'int'>
1.78
<class 'float'>
documento sobre la ceguera
<class 'str'>

In [111]:
print(variable_dinamica)

5

Operaciones aritmeticas

Suma, Resta, Multiplicacion, Division

Operador es + - * /

In [112]:
print(5 + 5)

10

In [113]:
print(3827498237482 + 29348923784)

3856847161266

In [114]:
print(8 - 7)

1

In [115]:
print(4 * 5)

20

In [116]:
print(5 / 4)

1.25

In [118]:
# no se puede dividir por 0 cero
# print(5 / 0)

In [119]:
documento_que_quiero_utilizar = "Documento ..."
# operador asignacion es el =
# me permite asignar un valor a una variable

In [120]:
print(8 + 5 - 5)

8

In [121]:
print((8 + 5) - 5)

8

In [123]:
print(8 * 4 / 3)

10.666666666666666

In [124]:
print(8 * (4 / 3))

10.666666666666666

In [125]:
print((8 * 4) / 3)

10.666666666666666

In [126]:
print(8 + 5 / 6 * 5)

12.166666666666668

In [127]:
print((8 + 5) / 6 * 5)

10.833333333333332

In [129]:
print(13 / 6 * 5)

10.833333333333332

In [131]:
print((8 + 5) / (6 * 5))

0.43333333333333335

In [132]:
print(((8 + 5) / (6 * 5)))

0.43333333333333335

In [133]:
suma1 = 8 + 5
multiplicacion1 = 6 * 5
division1 = suma1 / multiplicacion1
print(division1)

0.43333333333333335

In [134]:
edad_de_mis_hijos = 8 + 5
multiplicacion_de_los_meses_que_nacieron = 6 * 5
resultado = edad_de_mis_hijos / multiplicacion_de_los_meses_que_nacieron
print(resultado)

0.43333333333333335

In [ ]:
edad_1 = 8
edad_2 = 5
suma_edad = edad_1 + edad_2

In [137]:
print(type(5))

<class 'int'>

En input, todo llega como string cuando el usuario lo copia. Lo puedo averiguar con type(variable).

Debo convertir de tipo str a tipo int

In [146]:
string_que_parece_numero_1 = input("Ingresa el primer numero")
string_que_parece_numero_2 = input("Ingresa el segundo numero")
numero_1 = int(string_que_parece_numero_1)
numero_2 = int(string_que_parece_numero_2)
resultado = numero_1 + numero_2
print(resultado)

Ingresa el primer numero12.3
Ingresa el segundo numero12

ValueError: invalid literal for int() with base 10: '12.3'

In [142]:
variable_10 = 5
tipo_variable_10 = type(variable_10)
print(tipo_variable_10)

<class 'int'>

In [143]:
variable_10 = 5
print(type(variable_10))

<class 'int'>

In [145]:
# Juan Miguel pregunta como le ponemos el int al input directamente
numero_1 = int(input("Ingresa el primer numero"))
numero_2 = int(input("Ingresa el segundo numero"))
resultado = numero_1 + numero_2
print(resultado)

Ingresa el primer numero12
Ingresa el segundo numero12
24

In [147]:
print(type(12.3))

<class 'float'>

In [149]:
string_que_parece_numero_1 = input("Ingresa el primer numero")
string_que_parece_numero_2 = input("Ingresa el segundo numero")
numero_1 = float(string_que_parece_numero_1)
numero_2 = float(string_que_parece_numero_2)
resultado = numero_1 + numero_2
print(resultado)

Ingresa el primer numero12.3
Ingresa el segundo numero3
15.3

In [150]:
string_que_parece_numero_1 = input("Ingresa el primer numero")
string_que_parece_numero_2 = input("Ingresa el segundo numero")
numero_1 = float(string_que_parece_numero_1)
numero_2 = float(string_que_parece_numero_2)
resultado = numero_1 - numero_2
print(resultado)

Ingresa el primer numero12.3
Ingresa el segundo numero3.6
8.700000000000001

In [151]:
string_que_parece_numero_1 = input("Ingresa el primer numero")
string_que_parece_numero_2 = input("Ingresa el segundo numero")
numero_1 = float(string_que_parece_numero_1)
numero_2 = float(string_que_parece_numero_2)
resultado = numero_1 * numero_2
print(resultado)

Ingresa el primer numero3
Ingresa el segundo numero3
9.0

In [154]:
numero_1 = 12.0
numero_2 = 3
suma = numero_1 + numero_2
print(suma)
print(type(suma))

15.0
<class 'float'>